    
.calc_form{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vh;
    min-height:10v;
   
    padding:3px 3px 3px 3px;
    position:absolute;
    border-right: 5px solid rgb(250, 21, 21);
    border-bottom: 5px solid rgb(249, 18, 18);

     border-top: 5px solid rgb(254, 15, 15);
     border-left: 5px solid rgb(251, 11, 11);
     background-color:rgb(13, 13, 13);
  border-radius: 15%;  
}
.no
{
 text-align: center;
}
 input
 {
 border: 2px solid rgb(249, 18, 18);
border-radius: 20px; 
cursor: pointer;
padding: 3px 10px 3px 10px;
margin:4px ;
}
 #cal
 {
border:3px solid red;
 color: rgb(82, 11, 248);

}
#c{
    color:rgb(232, 6, 6);
    border: 2px solid rgb(249, 18, 18);
    border-radius: 15px;
    padding: 3px 8px 3px 8px;
    margin:2px ;
    cursor: pointer;
}